{% extends 'base.html' %}
{% load static %}
{% block title %}Add Products{% endblock %}
{% block content %}
<div class="container">
  <br>
  <hr>
    <div class="row">
      <div class="col-md-4 ">
        <h2>ADD Products:</h2>
        <br>
        <form id="addUser" action="">
        {% csrf_token %}
          <div class="form-group">
            <input class="form-control" type="text" name="name" id="Name" placeholder=" Product Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="Description" id="Description" placeholder="Product Description" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="Qty" id="unit" placeholder="Product_Quantity" required>
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h2>Products:</h2>
        <br>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Quantity</th>
          </tr>
         {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
              <td class="ProductName" name="name">{{user.name}}</td>
              <td class="Product_Description" name="Description">{{user.Description}}</td>
              <td class="Product_Quantity" name="Qty">{{user.Qty}}</td>
          </tr>
          {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
    </div>
  </div>
  <br>
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 ">
   <p id="name"></p>
   <p id="Product_Description"></p>
   <p id="Product_unit"></p>
   </div>
  </div>
</div>
  {% endblock %}
  {% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
      $( "#Name" ).keyup(function() {
         $('#name').text($(this).val());
      });
});

$(document).ready(function () {

  $( "#Description" ).keyup(function() {

     $('#Product_Description').text($(this).val());
  });
});

$(document).ready(function () {

  $( "#unit" ).keyup(function() {

     $('#Product_unit').text($(this).val());
  });
});

$('#addUser').validate({
    rules: {
        name:{
              required: true,
        },
       Description:{
            required: true,
        },
        Qty: {
              required: true,
        },
    },
    highlight: function(element) {
        $(element).addClass("field-error");
    },
    unhighlight: function(element) {
        $(element).removeClass("field-error");
    },
    errorPlacement: function(error, element) {
        return false;
    },
    submitHandler: function(form) {
        var data = new FormData();
        //Form data
        var form_data = $('#addUser').serializeArray();
        $.each(form_data, function(key, input) {
            data.append(input.name, input.value);
        });
        $.ajax({
            type: 'POST',
            url:'/Productsavedata',
            data: data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                if (data.user) {
                    appendToUsrTable(data.user);

                }
                else {
                    alert("All fields must have a valid value.");
                }
                $('#addUser').trigger("reset");
                return false;
            }
        });
      }
  });
  function appendToUsrTable(user) {
    $("#userTable > tbody:last-child").append(`
          <tr id="user-${user.id}">
               <td class="ProductName" name="name">${user.name}</td>
               <td class="Product_Description" name="Description">${user.Description}</td>
               <td class="Product_Quantity" name="Qty">${user.Qty}</td>
          </tr>
      `);
  }
</script>
{% endblock javascript %}
